TechFix Supplier Application/Connected Services/ProductService/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SearchProducts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchTerm" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="supplierID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchProductsResult" type="tns:ArrayOfProductCard" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProductCard">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductCard" nillable="true" type="tns:ProductCard" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductCard">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SupplierID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ImagePath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AvailableAmount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SupplierName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdated" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filePath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="supplierId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertProductResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllListedProducts">
        <s:complexType />
      </s:element>
      <s:element name="GetAllListedProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllListedProductsResult" type="tns:ArrayOfProductCard" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchProductsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchProducts" />
  </wsdl:message>
  <wsdl:message name="SearchProductsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchProductsResponse" />
  </wsdl:message>
  <wsdl:message name="InsertProductSoapIn">
    <wsdl:part name="parameters" element="tns:InsertProduct" />
  </wsdl:message>
  <wsdl:message name="InsertProductSoapOut">
    <wsdl:part name="parameters" element="tns:InsertProductResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllListedProductsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllListedProducts" />
  </wsdl:message>
  <wsdl:message name="GetAllListedProductsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllListedProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductServiceSoap">
    <wsdl:operation name="SearchProducts">
      <wsdl:input message="tns:SearchProductsSoapIn" />
      <wsdl:output message="tns:SearchProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <wsdl:input message="tns:InsertProductSoapIn" />
      <wsdl:output message="tns:InsertProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllListedProducts">
      <wsdl:input message="tns:GetAllListedProductsSoapIn" />
      <wsdl:output message="tns:GetAllListedProductsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductServiceSoap" type="tns:ProductServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchProducts">
      <soap:operation soapAction="http://tempuri.org/SearchProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <soap:operation soapAction="http://tempuri.org/InsertProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllListedProducts">
      <soap:operation soapAction="http://tempuri.org/GetAllListedProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductServiceSoap12" type="tns:ProductServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchProducts">
      <soap12:operation soapAction="http://tempuri.org/SearchProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <soap12:operation soapAction="http://tempuri.org/InsertProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllListedProducts">
      <soap12:operation soapAction="http://tempuri.org/GetAllListedProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="ProductServiceSoap" binding="tns:ProductServiceSoap">
      <soap:address location="https://localhost:44367/ProductService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProductServiceSoap12" binding="tns:ProductServiceSoap12">
      <soap12:address location="https://localhost:44367/ProductService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>