TechFix Supplier Application/Connected Services/InventoryService/InventoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddStock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="supplierId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="stockQuantity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddStockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddStockResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllInventories">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="supplierID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllInventoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllInventoriesResult" type="tns:ArrayOfInventory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInventory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Inventory" nillable="true" type="tns:Inventory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Inventory">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="InventoryID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SupplierID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="StockInsertDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="StockQuantity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SupplierName" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddStockSoapIn">
    <wsdl:part name="parameters" element="tns:AddStock" />
  </wsdl:message>
  <wsdl:message name="AddStockSoapOut">
    <wsdl:part name="parameters" element="tns:AddStockResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllInventoriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllInventories" />
  </wsdl:message>
  <wsdl:message name="GetAllInventoriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllInventoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="InventoryServiceSoap">
    <wsdl:operation name="AddStock">
      <wsdl:input message="tns:AddStockSoapIn" />
      <wsdl:output message="tns:AddStockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllInventories">
      <wsdl:input message="tns:GetAllInventoriesSoapIn" />
      <wsdl:output message="tns:GetAllInventoriesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InventoryServiceSoap" type="tns:InventoryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStock">
      <soap:operation soapAction="http://tempuri.org/AddStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInventories">
      <soap:operation soapAction="http://tempuri.org/GetAllInventories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InventoryServiceSoap12" type="tns:InventoryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStock">
      <soap12:operation soapAction="http://tempuri.org/AddStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInventories">
      <soap12:operation soapAction="http://tempuri.org/GetAllInventories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryService">
    <wsdl:port name="InventoryServiceSoap" binding="tns:InventoryServiceSoap">
      <soap:address location="https://localhost:44367/InventoryService.asmx" />
    </wsdl:port>
    <wsdl:port name="InventoryServiceSoap12" binding="tns:InventoryServiceSoap12">
      <soap12:address location="https://localhost:44367/InventoryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>